/* margin and padding and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

/* header */

header {
  max-width: 1120px;
  margin: 0 auto;
}

/*  Nav */

nav {
  width: 100%;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-list {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

.a-tag {
  text-decoration: none;
}

.a-tag:hover {
  cursor: pointer;
  color: #e95a08;
}

.img-logo {
  height: 100%;
  width: 100%;
}

/* hero section */

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-h {
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.hero-span {
  color: #e95a08;
}

.hero-p {
  font-size: 25px;
  margin-bottom: 20px;
  color: gray;
}

.hero-img {
  width: 50%;
}

.display-none {
  display: none;
}

/* Media Query */

@media screen and (max-width: 576px) {
  /* Hero and nav var done */
  .nav-container {
    flex-direction: row;
    padding: 15px;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .img-logo {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
  }

  .view {
    display: none;
  }

  .ul-list {
    font-size: 18px;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
    gap: 30px;
    padding: 10px;
  }

  .hero-text {
    width: auto;
  }

  .hero-h {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-p {
    font-size: 18px;
  }

  .hero-img {
    width: auto;
  }

  .hero-img img {
    width: 100%;
    height: 100%;
    max-width: 300px;
  }
  /* Hero section and nav var done */
}
