/* margin and padding and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}

/* header */

img {
  height: 100%;
  width: 100%;
}

header {
  max-width: 1120px;
  margin: 0 auto;
}

/*  Nav */

nav {
  width: 100%;
  padding: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul-list {
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  font-size: 25px;
  font-weight: 500;
}

.a-tag {
  text-decoration: none;
}

.a-tag:hover {
  cursor: pointer;
  color: #e95a08;
}

.img-logo {
  height: 100%;
  width: 100%;
}

/* hero section */

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-text {
  width: 50%;
}

.hero-h {
  font-size: 45px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.hero-span {
  color: #e95a08;
}

.hero-p {
  font-size: 25px;
  margin-bottom: 20px;
  color: gray;
}

.hero-img {
  width: 50%;
}

.hero-pic {
  height: 500px;
  width: 500px;
  margin-bottom: 50px;
}

/* card item */

main {
  max-width: 1120px;
  margin: 0 auto;
}

.card-section {
  margin-top: 30px;
  padding: 20px;
}

.card-h {
  font-size: 60px;
  margin-top: 30px;
}

.card-p {
  font-size: 30px;
  color: gray;
}

.card-span {
  color: #e95a08;
}

.card-h,
.card-p {
  text-align: center;
  margin-bottom: 35px;
}

.card-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.sample-flower {
  height: 400px;
  width: 400px;
  border-radius: 10px 10px 0px 0px;
}

.card h1 {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card p {
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.card button {
  text-align: center;
  font-size: 20px;
  background-color: #e95a08;
  color: white;
  width: 100%;
  padding: 25px 25px;
  border: none;
  border-radius: 25px;
}

.card button:hover {
  cursor: pointer;
  background-color: black;
  color: aqua;
}

/* Media Query */
@media screen and (max-width: 576px) {
  /* Hero and nav var done */
  .nav-container {
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
  }

  .img-logo {
    width: 100%;
    height: auto;
    max-width: 150px;
    display: block;
    text-align: start;
  }

  .view {
    display: none;
  }

  .ul-list {
    font-size: 18px;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-self: center;
  }

  .hero-container {
    flex-direction: column-reverse;
    text-align: left;
    gap: 30px;
    padding: 10px;
    margin-left: 15px;
  }

  .hero-text {
    width: auto;
  }

  .hero-h {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero-p {
    font-size: 18px;
  }

  .hero-img {
    width: auto;
  }

  .hero-pic {
    height: 400px;
    width: 400px;
  }
  /* Hero section and nav var done */

  /* card item */

  .card-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .card h1 {
    font-size: 25px;
  }

  .card p {
    font-size: 20px;
  }

  .card button {
    width: auto;
  }
}
